<div class="event">
  <div class="event_image"></div>
  <div class="event_info">
    <h3 class="goudy event_title">
      <%= item.title %>
      <%= render :partial => "topic", :collection => item.topics %>
      <span id="urgency_tag"><%= distance_of_time_in_words(Time.now, item.occurs_at) %> from now</span>
      <span class="map"></span>
    </h3>
    <div class="event_details">
      <div class="event_description">
        This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above. This is a description of the event listed above.
      </div>
      <div class="event_actions">
        HERE I CAN TAKE ACTION ON THIS EVENT
      </div>
    </div>
    </div>
  </div>
</div>
