<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%= stylesheet_link_tag 'application.css' %> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
        <link href='http://fonts.googleapis.com/css?family=Quattrocento&v1' rel='stylesheet' type='text/css'>
        <link  href="http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise:regular&v1" rel="stylesheet" type="text/css" >
        <link href='http://fonts.googleapis.com/css?family=Dancing+Script:regular,bold&v1' rel='stylesheet' type='text/css'>
        <link  href="http://fonts.googleapis.com/css?family=Goudy+Bookletter+1911:regular&v1" rel="stylesheet" type="text/css" >
        <meta charset="utf-8" />
        <title>Main Page</title>
    </head>
    <body>
        <div id="brief">
            <div id="map_tooltip" style="display:none;"></div>
            <div id="map_canvas" style="width: 200px; height: 150px; display:none;">map div</div>
            <div id="map_close" style="display:none;">Close</div>
            <div class="title">
                <h1 class="quattro upper">Scott's Daily Brief</h1>
                <h3 class="dancing">from the desk of Change.org and Code for America</h3>
            </div>
            <div id="events">
              <%= render :partial => "item", :collection => @items %>
            </div>
        </div>
        <div id="manilla_opening">
        </div>
        <div id="manilla_flap">
        </div>
        <div id="manilla">
            <div id="select_topics">
                <div class="manilla_title">Brief Me On</div>
                <form>
                    <div class="brief_topic">
                        <input type="checkbox" name="kittens" value="Save the Kittens" /><span class="tag large">Save the Kittens</span>
                    </div>
                    <div class="brief_topic">
                        <input type="checkbox" name="kittens" checked="checked" value="whales" /><span class="tag large selected">Eat the Whales and Sell the Blubber</span>
                    </div>
                    <div class="brief_topic">
                        <input type="checkbox" name="kittens" value="trees" /><span class="tag large">Shred the Trees</span>
                    </div>
                    <div class="brief_topic">
                        <input type="checkbox" name="kittens" value="babies" /><span class="tag large">Promote Creation of Babies</span>
                    </div>
                    <div class="brief_topic">
                        <input type="checkbox" name="kittens" checked="checked" value="Save the Kittens" /><span class="tag large selected">Learn More about Highways</span>
                    </div>
                </form>
            </div>
            <div id="select_delivery">
                <div class="manilla_title">Deliver My Brief</div>
                <div>
                    <form id="delivery_methods">
                        <div id="email_delivery">
                            <input type="text" name="email" class="label_me" title="Email"/>
                        </div>
                        <div id="sms_delivery">
                            <input type="text" name="sms" class="label_me" title="SMS"/>
                        </div>
                        <div id="twitter_delivery">
                            <input type="text" name="twitter" class="label_me" title="Twitter"/>
                        </div>
                    </form>
                    <h5 class="field_info">We will notify you at the addresses above when<br>new bulletins are added to your brief.</h5>
                </div>
            </div>
            <div id="save_settings">
                Save
            </div>
        </div>
        <!-- adding jQuery and jQuery UI -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
        <script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>
        <script>
            var map, marker;
            var sf = new google.maps.LatLng(37.72, -122.5);

            function initialize() {
                var mapOptions = {
                zoom: 12,
                mapTypeId: google.maps.MapTypeId.ROADMAP,
                center: sf
                };

                    map = new google.maps.Map(document.getElementById("map_canvas"),
            mapOptions);

                marker = new google.maps.Marker({
                  map:map,
                  draggable:true,
                  animation: google.maps.Animation.DROP,
                  position: sf
                });
                google.maps.event.addListener(marker, 'click', toggleBounce);
              }

              function toggleBounce() {

                if (marker.getAnimation() != null) {
                  marker.setAnimation(null);
                } else {
                  marker.setAnimation(google.maps.Animation.BOUNCE);
                }
              }

          //$('.map').toggle(function(){

            $('.map').click(function(e){ //used to be mouseover
                //var loc_position = $('.map').position();

                $('#map_tooltip').html('<div id="map_canvas" style="width: 200px; height: 150px;">map div</div><div id="map_close">Close</div>');
                $('#map_tooltip').css({
                    //top: ((e.offsetY || e.layerY) - 60) + "px",
                   //left: ((e.offsetX || e.layerX) + 22) + "px"
                    //top:loc_position.top - 120, //***this doesn't update***
                    //left:loc_position.left - .5*$('#map_tooltip').width()
                    top: e.layerY - 210,
                    left: e.layerX - 100
                });
                $('#map_tooltip').show();
                initialize();

                $('#map_close').click(function(e){
                    $('#map_tooltip').hide();
                });
            });
            //}, function() {

            //});
            //Puts field title in form field
        	$('.label_me').each(function() {
        		$thisInput = $(this);
        		if ($thisInput.val() == '') {
        			$thisInput.val($thisInput.attr('title'));
        		}

        		$thisInput.focus(function() {
        			if ($(this).val() === $(this).attr('title')) {
        				$(this).val('').addClass('focused');
        			}
        		});

        		$thisInput.blur(function() {
        			if ($(this).val() === '') {
        				$(this).val($(this).attr('title')).removeClass('focused');
        			}
        		});
        	});
        </script>
    </body>
</html>
