<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%= stylesheet_link_tag 'application.css' %> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
        <link href='http://fonts.googleapis.com/css?family=Quattrocento&v1' rel='stylesheet' type='text/css'>
        <link  href="http://fonts.googleapis.com/css?family=Waiting+for+the+Sunrise:regular&v1" rel="stylesheet" type="text/css" >
        <meta charset="utf-8" />
        <title>Main Page</title>
    </head>
    <body>
        <div id="brief">
            <div id="map_tooltip" style="display:none;"></div>
            <h1 class="title">Scott's Daily Brief<hr></h1>
            <div id="events">
                <div id="event">
                    Obama speaks at the US Chamber of Commerce<span id="tag">Federal</span><span id="tag">Employment</span><span id="urgency_tag">13 hours</span><span class="map">Location</span>
               </div>
               <div id="event">
                    Congressional hearing on federal stimulus<span id="tag">Federal</span><span id="tag">Economy</span><span id="urgency_tag">2 days</span><span class="map">Location</span>
               </div>
               <div id="event">
                    Ben Bernanke addresses the US Chamber of Commerce<span id="tag">Federal</span><span id="tag">Employment</span><span id="urgency_tag">3 days</span><span class="map">Location</span>
               </div>
              <div id="event">
                    Testimony on feasibility of high-speed rail<span id="tag">State</span><span id="tag">Transportation</span><span id="urgency_tag">6 days</span><span class="map">Location</span>
               </div>
              <div id="event">
                    Congressional debate on emissions standards<span id="tag">Federal</span><span id="tag">Environment</span><span id="urgency_tag">10 days</span><span class="map">Location</span>
               </div>
              <div id="event">
                    Tesla news conference on battery technology<span id="tag">State</span><span id="tag">Technology</span><span id="urgency_tag">2 weeks</span><span class="map">Location</span>
               </div>
            </div>
        </div>
        <div id="manilla_opening">
        </div>
        <div id="manilla_flap">
        </div>
        <div id="manilla">
            <div id="select_topics">
                <div class="manilla_title">Brief Me On</div>
            </div>
            <div id="select_delivery">
                <div class="manilla_title">Deliver My Brief</div>
                <div>
                    <form>
                        <input type="text" name="email" class="" title="Email"/>
                        <input type="text" name="sms" class="" title="SMS"/>
                        <input type="text" name="twitter" class="" title="Twitter"/>
                        
                    </form>
                    <img src="twitter_signin.png">
                </div>
            </div>
        </div>
        <!-- adding jQuery and jQuery UI -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
        <script>
            $('.map').mouseover(function(e){
                $('#map_tooltip').html('Google Map here');
                $('#map_tooltip').css({
                    top: ((e.offsetY || e.layerY) - 60) + "px",
                    left: ((e.offsetX || e.layerX) + 22) + "px"
                });
                $('#map_tooltip').show();
            });

            $('.map').mouseout(function(e){
                $('#map_tooltip').hide();
            });
        </script>
    </body>
</html>
