<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%= stylesheet_link_tag 'application.css' %> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
        <link href='http://fonts.googleapis.com/css?family=Quattrocento&v1' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <title>Main Page</title>
    </head>
    <body>
        <div id="container">
            <h1 class="title">Scott's Daily Brief<hr></h1>
            <div id="issues">
                <div id="date">
                    June 25th, 2011
                    <ul>
                        <li>Obama speaks at the US Chamber of Commerce<span id="tag">Federal</span><span id="tag">Employment</span></li>
                        <li>Congressional hearing on federal stimulus</li>
                        <li>Ben Bernanke addresses the US Chamber of Commerce</li>
                        <li>Testimony on feasibility of high-speed rail </li>
                        <li>Congressional debate on emissions standards</li>
                        <li>Tesla news conference on battery technology</li>
                    </ul>
               </div>
               <div id="date">
                    June 27th, 2011
                    <ul>
                        <li>Obama speaks at the US Chamber of Commerce</li>
                        <li>Congressional hearing on federal stimulus</li>
                        <li>Ben Bernanke addresses the US Chamber of Commerce</li>
                        <li>Testimony on feasibility of high-speed rail </li>
                        <li>Congressional debate on emissions standards</li>
                        <li>Tesla news conference on battery technology</li>
                    </ul>
               </div>
               <div id="date">
                    July 1st, 2011
                    <ul>
                        <li>Obama speaks at the US Chamber of Commerce</li>
                        <li>Congressional hearing on federal stimulus</li>
                        <li>Ben Bernanke addresses the US Chamber of Commerce</li>
                        <li>Testimony on feasibility of high-speed rail </li>
                        <li>Congressional debate on emissions standards</li>
                        <li>Tesla news conference on battery technology</li>
                    </ul>
               </div>
            </div>
        </div>
        <div id="footer_top">
        </div>
        <div id="footer">
        </div>
        <!-- adding jQuery and jQuery UI -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    </body>
</html>
