<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%= stylesheet_link_tag 'application.css' %> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
        <link href='http://fonts.googleapis.com/css?family=Quattrocento&v1' rel='stylesheet' type='text/css'>
        <meta charset="utf-8" />
        <title>Main Page</title>
    </head>
    <body>
        <div id="container">
            <h1 class="title">Scott's Daily Brief<hr></h1>
            <div id="events">
                <div id="event">
                    Obama speaks at the US Chamber of Commerce<span id="tag">Federal</span><span id="tag">Employment</span>
               </div>
               <div id="event">
                    Congressional hearing on federal stimulus<span id="tag">Federal</span><span id="tag">Economy</span>
               </div>
               <div id="event">
                    Ben Bernanke addresses the US Chamber of Commerce<span id="tag">Federal</span><span id="tag">Employment</span>
               </div>
              <div id="event">
                    Testimony on feasibility of high-speed rail<span id="tag">State</span><span id="tag">Transportation</span>
               </div>
              <div id="event">
                    Congressional debate on emissions standards<span id="tag">Federal</span><span id="tag">Environment</span>
               </div>
              <div id="event">
                    Tesla news conference on battery technology<span id="tag">State</span><span id="tag">Technology</span>
               </div>
            </div>
        </div>
        <div id="footer_top">
        </div>
        <div id="footer">
        </div>
        <!-- adding jQuery and jQuery UI -->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
        <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    </body>
</html>
