<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- <%= stylesheet_link_tag 'application.css' %> -->
        <link rel="stylesheet" type="text/css" href="stylesheets/application.css" />
        <meta charset="utf-8" />
        <title>Settings Page</title>
    </head>
    <body>
        <div id="container">
            <div id="manilla_top">
              <h1>
                  Settings
              </h1>
            </div>
            <div id="topics" class="clearfix">
                <h2>
                Brief me on
                </h2>
                <ul class="topic_list">
                    <li><a href="Politics">Politics</a></li>
                    <li><a href="Environment">The Environment</a></li>
                    <li><a href="Crime">Crime</a></li>
                    <li><a href="Blight">City Blight</a></li>
                    <li><a href="Transportation">Transportation</a></li>
                </ul>
                <ul class="topic_list">
                    <li><a href="Congress">Congress</a></li>
                    <li><a href="Budget">State Budget</a></li>
                    <li><a href="My Rep">My Representatives</a></li>
                    <li><a href="Employment">Employment</a></li>
                    <li><a href="Outsourcing">Outsourcing</a></li>
                </ul>
            </div>
            <div id="delivery">
                <h2>
                    Deliver my brief
                </h2>
                <ul class="brief_list">
                    <li><a href="SMS">SMS</a></li>
                    <li><a href="Email">Email</a></li>
                    <li><a href="Web">Web</a></li>
               </ul>
            </div>
       </div>
       <!-- adding jQuery and jQuery UI -->
       <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.1/jquery.js"></script>
       <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js"></script>
    </body>
</html>
