body {
	font-family: helvetica, arial, clean, sans-serif;
	background-image: url('wood.jpg');
	background-repeat: repeat;
	background-position: 0px 0px;
	background-attachment: fixed;
	background-color: #73390F;
}
body a{
	text-decoration: none;
}
h1 {
	font-size: 3.3em;
}
h2 {
	font-size: 2em;
}
h3 {
	font-size: 1.4em;
}
h4 {
	font-size: 1em;
}
h5 {
	font-size: 0.7em;
}
p {
	-webkit-font-smoothing: antialiased;
}
.clearfix:after {
	content: ".";
	display: block;
	height: 0;
	clear: both;
	visibility: hidden;
}
#brief{
	background-image: url('exclusive_paper.png');
	background-repeat: repeat;
	margin-left: -425px;
	left: 50%;
	width: 750px;
	position: absolute;
	background-color: white;
	z-index: 1;
	border-radius: 2px;
	margin-top: 50px;
	padding: 50px;
	border: 1px solid #b5b5b5;
	-moz-box-shadow: 0px 0px 15px 1px #000;
	-webkit-box-shadow: 0px 0px 15px 1px #000;
	box-shadow: 0px 0px 15px 1px #000;
	color: #353535;
	text-shadow: white 0px 1px 0px;
}
.brief_open {
	min-height: 800px;
}
.brief_closed {
	height: 560px;
	bottom: 0px;
	overflow: hidden;
}
ul{
	list-style-type:none;
}

ul.topic_list{
	/*list-style-type:square;*/
	float: left;
	width: 150px;
	margin: 10px 10px 0 0;
}

ul.brief_list li{
	display: inline;
	padding: 0px 10px 0px 0px;
}
.title {
	text-shadow: white 0px 1px 0px;
	line-height: 10px;
	color: #353535;
	text-align: center;
	margin-bottom: 55px;
}
.quattro {
	font-family: 'Quattrocento', arial, serif;
}
.dancing {
	font-family: 'Dancing Script', arial, serif;
}
.goudy {
	font-family: 'Goudy Bookletter 1911', serif;
}
.upper {
	text-transform: uppercase;
}
.left {
	float: left;
}
.event{
    padding: 0px 0px 15px 0px;
}
.event_image {
	height: 75px;
	width: 75px;
	color: white;
	border-radius: 3px;
	background: url('http://farm4.static.flickr.com/3107/2747264707_623c22a357_s.jpg') no-repeat;
	border: 1px 1px 0px 1px solid #b5b5b5;
	-moz-box-shadow: 0px 1px 4px 0px #000;
	-webkit-box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);
	box-shadow: 0px 2px 4px 0px rgba(0,0,0,.4);

	float: left;
	margin: 10px;
}
.event_info {
    display: block;
    padding-top: 20px;
}

.event_description{
    font-size: 14px;
    font-family: helvetica, arial, clean, sans-serif;
    width: 400px;
}

.inner_description{
    width: 400px;
}

.tag {
	font-size:11px;
	font-family: helvetica, arial, clean, sans-serif;
	width: 70px;
	height:12px;
	text-align: center;
	padding: 3px;
	-moz-border-radius: 4px;
	border-radius: 4px;
	margin-left: 7px;
}
.large {
	font-size: 20px;
	padding: 5px 8px;
	text-shadow: white 0px 1px 1px;
	-webkit-font-smoothing: antialiased;
	border: 1px solid rgba(255,255,255,.5);
}
.selected {
	background-color: #F26A4B;
}
#urgency_tag{
    font-size: 12px;
    font-family: helvetica, arial, clean, sans-serif;
    font-weight: bold;
    margin-left: 7px;
}

.map{
    padding: 0px 10px 0px 5px;
	margin-left: 7px;
	background: url(icons/pin_map_icon_16.png) no-repeat;
	background-position: center center;
}

#map_tooltip {
      -moz-box-shadow: 6px 6px 5px #6e6e6e;
      -webkit-box-shadow: 6px 6px 5px #6e6e6e;
      box-shadow: 6px 6px 5px #6e6e6e;
      -moz-border-radius: 4px;
      border-radius: 4px;
      z-index: 10;
      background: rgba(255,255,255,.9);
      padding: 15px 15px 5px 15px;
      border: 0px solid #ddd;
      position: absolute;
      font-family:"Helvetica Neue", Arial, Helvetica, sans-serif
}

#map_close{
    font-size: 12px;
    float: right;
    padding-top: 3px;
}

#manilla_opening, #manilla_closing, #manilla_flap {
	background-repeat: no-repeat;
	display: block;
	left:0;
	position: fixed;
	margin-left: -480px;
	width: 960px;
	left: 50%;
}
#manilla_opening, #manilla_closing {
	background-image: url('manilla_fs2.png');
	height: 89px;
	z-index: 1;
}
#manilla_flap {
	background-image: url('manilla_b.png');
	z-index: -1;
	height: 230px;
}
.manilla_open_bottom {
	bottom: 500px;
}
.manilla_closed_bottom {
	bottom: 15px;
}
#manilla {
	background-image: url('manilla_splice.png');
	left:0;
	position: fixed;
	width: 960px;
	margin-left: -480px;
	left: 50%;
	z-index: 1;
	background-repeat:repeat-y;
	bottom: 0px;
}
.manilla_open {
	height: 500px;
}
.manilla_closed {
	height: 15px;
}
#select_topics, #select_delivery {
	width: 430px;
	position: relative;
}
#select_topics {
	float: left;
	margin-left: 45px;
}
#select_delivery {
	float: right;
	margin-right: 30px;
}
.manilla_title {
	font-size: 50px;
	text-shadow: white 0px 1px 0px;
	text-align: center;
	font-family: 'Waiting for the Sunrise', serif;
	letter-spacing: -0.05em;
	padding-bottom: 10px;
}
input[type="text"] {
	display: block;
	font-size: 25px;
	border-radius: 20px;
	background-color:rgba(0,0,0,.5);
	width: 320px;
	padding: 8px 12px 10px 12px;
	margin-bottom: 10px;
	border: none;
	color: #ececec;
	float: left;
	clear: both;
}
input[type="checkbox"] {
	background: url(icons/checkbox_unchecked_icon_24.png) no-repeat;
}
input:focus {
	outline: none;
	background-color: #F26A4B;
	color: black;
}
.field_info {
	color: #5b5b5b;
/*	text-shadow: white 0px 1px 1px;
*/	text-align: center;
	-webkit-font-smoothing: antialiased;
}
.brief_topic {
	padding-bottom: 18px;
}
#delivery_methods {
	padding-left: 10px;
}
#email_delivery, #sms_delivery, #twitter_delivery {
	opacity: 0.85;
	background-repeat: no-repeat;
	height: 58px;
	padding-left: 65px;
}
#email_delivery {
	background-image: url('icons/mail_icon_48.png');
}
#sms_delivery {
	background-image: url('icons/phone_icon_48.png');
}
#twitter_delivery {
	background-image: url('icons/twitter_icon_48.png');
}
#save_settings {
	background-image: url('exclusive_paper.png');
	background-repeat: no-repeat;
	width: 60px;
	height: 29px;
	background-color: white;
	color: gray;
	bottom: 0px;
	margin-left: -29px;
	left: 50%;
	position: absolute;
	border-radius: 4px 4px 0px 0px;
	border: 1px 1px 0px 1px solid #b5b5b5;
	-moz-box-shadow: 0px 0px 2px 0px #000;
	-webkit-box-shadow: 0px 0px 2px 0px #000;
	box-shadow: 0px 0px 2px 0px #000;
	color: #353535;
	text-shadow: white 0px 1px 0px;
	line-height: 30px;
	text-align: center;
	font-size: 10px;
}
