<!DOCTYPE html>
<html>
<head>
  <title>Brief</title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
  <link rel="shortcut icon" href="favicon.ico" />
</head>
<body>
  <a href="#"><img src="/assets/social/twitter_signin.png" id="twitter_login" height="24" align="right"></a>
  <a href="#"><img src="/assets/social/facebook_login.png" id="facebook_login" height="24" align="right" style="margin-right: 5px;"></a>

<%= yield %>

</body>
</html>
